@import 'tailwindcss';

@tailwind utilities;

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source '../../app/**/*.php';
@source '../views/**/*.blade.php';
@source '../views/twsafelist.blade.php';

@theme {
    --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #1068ff;
    --color-secondary: #3cff00;
}
